<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>.</string>
	<key>BuildMachineOSBuild</key>
	<string>24G90</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Camo Studio</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Camo Overlay</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.reincubate.macos.cam.overlay</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Camo Studio</string>
	<key>CFBundleIconFile</key>
	<string>AppIcon</string>
	<key>CFBundleIconName</key>
	<string>AppIcon</string>
	<key>CFBundleIdentifier</key>
	<string>com.reincubate.macos.cam</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Camo Studio</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4.0</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>MacOSX</string>
	</array>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>camo-studio</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1066369277741-4bun524eg6hlf25jg6h7f6pagrl78g9f</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>17515</string>
	<key>DTCompiler</key>
	<string>com.apple.compilers.llvm.clang.1_0</string>
	<key>DTPlatformBuild</key>
	<string>24F74</string>
	<key>DTPlatformName</key>
	<string>macosx</string>
	<key>DTPlatformVersion</key>
	<string>15.5</string>
	<key>DTSDKBuild</key>
	<string>24F74</string>
	<key>DTSDKName</key>
	<string>macosx15.5</string>
	<key>DTXcode</key>
	<string>1640</string>
	<key>DTXcodeBuild</key>
	<string>16F6</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>12.3</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSAccentColorName</key>
	<string>AccentColor</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSAudioCaptureUsageDescription</key>
	<string>Camo Studio needs this to capture your system audio.</string>
	<key>NSCameraUsageDescription</key>
	<string>Camo Studio needs this to display your Mac's camera.</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020–2025 Reincubate.
All rights reserved.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Camo Studio needs this to record your microphone input.</string>
	<key>NSPrincipalClass</key>
	<string>Application</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>NSUserActivityTypes</key>
	<array>
		<string>ARModeIntent</string>
		<string>DeviceIntent</string>
		<string>ExposureIntent</string>
		<string>FeedIntent</string>
		<string>FilterIntent</string>
		<string>FlashIntent</string>
		<string>GetDeviceIntent</string>
		<string>GetDevicesIntent</string>
		<string>GetFeedIntent</string>
		<string>GetLensIntent</string>
		<string>GetMirrorVideoIntent</string>
		<string>GetModeIntent</string>
		<string>GetPresetIntent</string>
		<string>GetResolutionIntent</string>
		<string>GetRotationIntent</string>
		<string>GetScreenCurtainIntent</string>
		<string>GetSettingIntent</string>
		<string>LensIntent</string>
		<string>MirrorVideoIntent</string>
		<string>ModeIntent</string>
		<string>OverlayIntent</string>
		<string>PresetIntent</string>
		<string>ResolutionIntent</string>
		<string>RotationIntent</string>
		<string>ScreenCurtainIntent</string>
		<string>SetAdjustmentIntent</string>
		<string>SpotlightIntent</string>
		<string>TrackingModeIntent</string>
		<string>WhiteBalanceIntent</string>
		<string>ZoomIntent</string>
	</array>
	<key>RIReleaseChannelName</key>
	<string>RELEASE</string>
	<key>RIUTMCampaignSuffix</key>
	<string>macos</string>
	<key>SMPrivilegedExecutables</key>
	<dict>
		<key>com.reincubate.macos.cam.PrivilegedHelper</key>
		<string>anchor apple generic and identifier "com.reincubate.macos.cam.PrivilegedHelper" and (certificate leaf[field.1.2.840.113635.100.6.1.9] /* exists */ or certificate 1[field.1.2.840.113635.100.6.2.6] /* exists */ and certificate leaf[field.1.2.840.113635.100.6.1.13] /* exists */ and certificate leaf[subject.OU] = Q248YREB53)</string>
	</dict>
	<key>SUEnableSystemProfiling</key>
	<true/>
	<key>SUPublicEDKey</key>
	<string>LwIsmaEhliUNuS14ttZVEZjYAD3DwZhKbZWIj7ck+dQ=</string>
	<key>UDSUpdateFeedURL</key>
	<string>https://uds.reincubate.com/release-notes/camo/?format=sparkle</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Camo Overlay</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconText</key>
				<string>overlay</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>com.reincubate.macos.cam.overlay</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>camoscene</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>branch_key</key>
	<string>key_live_bgKQ4GX6G4ILknaZAVYDAppfBrgICrRS</string>
</dict>
</plist>
